<div mat-dialog-title>
    <div style="color: red; display: inline-flex; align-items: center; gap: 8px;">
        <mat-icon fontIcon="warning"></mat-icon>
        <div style="font-size: 20px; line-height: 28px;">{{ data.title }}</div>
    </div>
</div>
<mat-dialog-content>
    <div *ngFor="let msg of data.messages" style="font-size: 16px;">{{ msg }}</div>
    <div class="flex flex-row-reverse justify-start items-center gap-3">
        <button (click)="dialogRef.close(data.pass ?? true)" mat-flat-button>Confirm</button>
        @for (action of actions; track $index) {
            <button (click)="dialogRef.close(action.data)" mat-flat-button [color]="action.color">{{ action.name }}</button>
        }
        <button (click)="dialogRef.close()" mat-stroked-button>Cancel</button>
    </div>
</mat-dialog-content>
