<div class="h-16 flex items-center justify-start gap-3 px-5">
    <button (click)="go_back()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="text-2xl">
        Inspect container: {{ name }}
    </div>
    <div class="flex items-center justify-end gap-3 ml-auto">
    </div>
</div>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<div style="height: calc(100% - 4rem - 3px)">
    @if (error_message) {
        <div>{{ error_message }}</div>
    } @else {
        <ndc-monaco-editor style="height: 100%" [options]="options" [(ngModel)]="detail"></ndc-monaco-editor>
    }
</div>

