<div class="h-16 flex items-center justify-start gap-3 px-4">
    <ndc-breadcrumbs/>
    <div class="flex items-center justify-end gap-3 ml-auto">
        @if (child_component) {
            <ng-container *ngTemplateOutlet="child_component.operations_template!"></ng-container>
        }
    </div>
</div>

<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<div style="height: calc(100% - 4rem - 3px)" class="w-full relative">
    @let stats = bread.file_stats$ | async;
    @if (stats?.type === 'directory') {
        <ndc-file-list #child_component></ndc-file-list>
    } @else if (stats?.type === 'file') {
        <ndc-file-editor #child_component></ndc-file-editor>
    }
</div>
