<mat-toolbar class="ndc-header" style="gap: 8px;">
    <div class="flex items-center justify-start gap-3 w-full">
        <button mat-icon-button (click)="toggle_side()">
            <mat-icon class="material-symbols-rounded">menu</mat-icon>
        </button>
        <div>
            <span class="text-2xl" style="vertical-align: center; line-height: 1.5rem;">{{ layout.title }}</span>
        </div>
        @let loading_data = preload_strategy.all_finished$ | async;
        @if (loading_data && loading_data.loaded !== loading_data.total) {
            <mat-spinner diameter="24"></mat-spinner>
            <span class="text-sm">loading modules...({{ loading_data.loaded }}/{{ loading_data.total }})</span>
        }
        <div class="ml-auto"></div>
        @if (config.container_id) {
            <mat-chip color="primary" routerLink="/container-inspection/{{ config.container_id }}">Container: {{ config.container_id.slice(0, 12) }}</mat-chip>
        } @else {
            <mat-chip color="primary">Host Running</mat-chip>
        }
        <mat-chip color="primary">v{{ config.version }}</mat-chip>
        <button mat-mini-fab matTooltip="Show log" routerLink="/host-log">
            <mat-icon class="material-symbols-rounded">article</mat-icon>
        </button>
        <button mat-mini-fab matTooltip="Start a Terminal" routerLink="/host-exec">
            <mat-icon class="material-symbols-rounded">terminal</mat-icon>
        </button>
        <ng-content></ng-content>
    </div>
</mat-toolbar>

